html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
}

.app {
  background: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
}

.login-button {
  transition-duration: 300ms;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  background-color: #1db954;
  color: #fff;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  border: none;
  border-radius: 0.2rem;
  margin: auto;
}

.login-button:hover,
.login-button:focus {
  transition-duration: 500ms;
  box-shadow: 0 0.25rem 0.75rem 0 #777777;
}

.my-spotify-title {
  color: white;
  font-weight: bold !important;
  padding-bottom: 0.5em;
}

@media screen and (max-width: 500px) {
  .my-spotify-title {
    font-size: 19vw !important;
  }
}

.login-page-container {
  padding-top: 30vh;
}
